# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Battleship/*
!/Battleship/task/
/Battleship/task/*
!/Battleship/task/src

# Project exclude paths
/Topics/Custom exceptions/DriverNotReadyException/out/
/Topics/Custom exceptions/DriverNotReadyException/out/production/classes/
/Topics/Custom exceptions/Exception chaining/out/
/Topics/Custom exceptions/Exception chaining/out/production/classes/
/Topics/Custom exceptions/Square class/out/
/Topics/Custom exceptions/Square class/out/production/classes/
/Topics/Custom exceptions/Theory/out/
/Topics/Custom exceptions/Theory/out/production/classes/
/Topics/Input streams/Byte vs character input streams/out/
/Topics/Input streams/Byte vs character input streams/out/production/classes/
/Topics/Input streams/Convert to bytes/out/
/Topics/Input streams/Convert to bytes/out/production/classes/
/Topics/Input streams/Reverse input text/out/
/Topics/Input streams/Reverse input text/out/production/classes/
/Topics/Input streams/Theory/out/
/Topics/Input streams/Theory/out/production/classes/
/Topics/Throwing exceptions/Days of the week/out/
/Topics/Throwing exceptions/Days of the week/out/production/classes/
/Topics/Throwing exceptions/How to throw an exception/out/
/Topics/Throwing exceptions/How to throw an exception/out/production/classes/
/Topics/Throwing exceptions/Possible declaration/out/
/Topics/Throwing exceptions/Possible declaration/out/production/classes/
/Topics/Throwing exceptions/Theory/out/
/Topics/Throwing exceptions/Theory/out/production/classes/
/Topics/Throwing exceptions/Throw an IOException/out/
/Topics/Throwing exceptions/Throw an IOException/out/production/classes/
/Topics/Throwing exceptions/Throwing statements/out/
/Topics/Throwing exceptions/Throwing statements/out/production/classes/